*.o
*.lo
*.a
*.la
*.swp
*.orig
*.bak
cscope*
jpeg-6b/cjpeg
jpeg-6b/djpeg
jpeg-6b/jpegtran
jpeg-6b/rdjpgcom
jpeg-6b/wrjpgcom
jpeg-6b/ansi2knr
jpeg-6b/core
jpeg-6b/testout*
jpeg-6b/config.log
jpeg-6b/config.status
jpeg-6b/knr
jpeg-6b/.liobs
jpeg-6b/_libs
guard/CMakeFiles/*
guard/Makefile
guard/build/*
guard/cmake_install.cmake
guard/CMakeCache.txt
guard/CTestTestfile.cmake
guard/runner.cpp

