*.o
*.lo
*.a
*.la
*.swp
*.orig
*.bak
*.pyc
*.html
jconfig.h
cscope.files
cscope.out
cjpeg
djpeg
jpegtran
rdjpgcom
wrjpgcom
ansi2knr
core
testout*
config.log
config.status
knr
.liobs
_libs
CMakeFiles/*
Makefile
build/*
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
runner.cpp
guard/CMakeFiles
guard/build
analysis/static/cppcheck/code
analysis/static/cppcheck/guard
analysis/static/cppcheck/code_analysis_guard
analysis/static/cppcheck/code_analysis
analysis/static/cppcheck/analysis_jpeg-6b
analysis/static/cppcheck/jpeg-6b
analysis/static/cppcheck/libjpeg-turbo-2.0.4
analysis/static/cppcheck/analysis_guard
analysis/static/cppcheck/analysis_libjpeg-turbo-2.0.4
analysis/static/cppcheck/analysis_mozjpeg-3.3.1
analysis/static/cppcheck/mozjpeg-3.3.1
analysis/static/cppcheck/analysis_throfdbg
analysis/static/cppcheck/throfdbg

analysis/dynamic/gcov/djpeg_analysis
analysis/dynamic/gcov/rdjpgcom_analysis
analysis/dynamic/gcov/guard
analysis/dynamic/gcov/guard_analysis
analysis/dynamic/gcov/test*
analysis/dynamic/gcov/configs
analysis/dynamic/gcov/baseline
analysis/dynamic/gcov/results


