*.o
*.lo
*.a
*.la
*.swp
*.orig
*.bak
*.pyc
jconfig.h
cscope.files
cscope.out
cjpeg
djpeg
jpegtran
rdjpgcom
wrjpgcom
ansi2knr
core
testout*
config.log
config.status
knr
.liobs
_libs
CMakeFiles/*
Makefile
build/*
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
runner.cpp
guard/CMakeFiles
guard/build

